body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #acb7ae;
}

h, h1, h2, h3, h4, h5, h6 {
    margin: 5px;
    font-size: 2rem;
    
}

 

 

p {
    margin-top: 0;
    margin-bottom: 1rem;
}



.menu-container {
    width: 400px;
    height: auto;
    margin: auto;
    border-radius: 6px;
    background-color: #DCDCDC;
    padding:10px;
}
 

.center-toast {
    width: 300px;
    height: 10px;
    margin: auto;
    color: red;
}

 

.button-el{
    border:1px blue;
    background-color:white;
}

.user-container {
   
    border-radius: 6px;
    background-color: #DCDCDC;
    padding: 10px;
    float: left;     
    height:100%;
    margin:10px;
    border: 4px thin brown;
}

    .user-container:hover {
        background-color: ghostwhite;
    }

#user-actions {
    width:15%;
}

#user-console {
    min-width: 55%;
    margin-left:auto;
    margin-right:auto;
}

#user-editor {
    width: 25%;
    
}


.user-board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 90%;

}


.actions {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-content: space-around;
}

    .actions > button {
        background-color: wheat;
        width: 100%;
        margin: 1%;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
    }
 /*table layout*/
table {
    border: 3px solid #496e50;
    border-collapse:collapse;
    border-radius: 3px;
    text-align: center;
    margin-left: 5%;
    border-style: hidden;
}

  td, th  {
    border: 3px solid grey;
}
    td:hover {
        border: 4px solid black;
    }

    tr:hover{
        background-color:blanchedalmond;
    }

 

 /* table editor*/
.table-edit {
    display: flex;
    flex-direction: column;
}

.button-del {
    width: 100%;
    margin: auto;
    height:100%; 
    text-align:center;
    display:none;
   
}

.user-row{

}

.delete-user{

}

.edit-user {
}
/* index login */

.stack {
    display: flex;
    flex-direction: column; 
    height: 98%;
    width: 40%;
    align-items: center;
    margin: auto;
    box-shadow: 10px 10px 5px grey;
    background-color: #82716e;
}

    .stack > div {
        margin: auto;
        box-shadow: 5px 5px 2px grey;
    }
/* login styles */

.login-container {
    display: flex;
    flex-wrap: wrap;
    margin-left:20px;
    height:auto;

}

    .login-container > text, button {
        float:left;
       
    }

    .login-container > input {
        float:right;
    }

 /* register */
.stack-el {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    align-items: center;
    margin: auto;
    background-color: #e4decd;
    border-radius: 8px;
    box-shadow: 1px 1px grey;
}

    

.stack-div{
    margin: 2% 20%;
    width: 60%;
}
    .stack-div > text{
         float:left;
    }

    .stack-div > input {
        float: right;
    }

.classy {
    margin: 2% 20%;
    width: 60%;
    height:4%;
    box-shadow: 1px 1px grey;
    background-color: #acb7ae;
     
}

