@{
    Layout = null;
    ViewBag.Title = "Filter";
}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <title>Filter</title>
    <link href="~/Content/custom-menus.css" rel="stylesheet" />
    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/GetData.js"></script>
</head>

<body>

    <div class=" ">
        <button> Unassigned </button>
        <button> Type </button>
        <button> Assign Time </button>

    </div>

</body>

</html>




