@{
    Layout = null;
    ViewBag.Title = "Filter";
}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <title>Filter</title>
    <link href="~/Content/custom-menus.css" rel="stylesheet" />
    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/GetData.js"></script>
</head>

<body>

    <div class=" ">
        <h1>Show only</h1>
        <div class="dropdown">
            <button class="dropbtn"> Type </button>
            <div class="dropdown-content">
                <a href="#">Tablet</a>
                <a href="#">Phone</a>
                <a href="#">Laptop</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn"> Producer </button>
            <div class="dropdown-content">
                <a href="#">Nokia</a>
                <a href="#">Lenovo</a>
                <a href="#">Toshiba</a>
            </div>
        </div>
        <br>
        <hr>

        <h1>Update</h1>

    </div>

</body>

</html>




