

<div class="jumbotron">


    <link href="~/Content/custom-menus.css" rel="stylesheet" />
    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/GetData.js"></script>




</div>
<div class="stack  ">


    @{
        Layout = null;
        ViewBag.Title = "Index";
    }


    <div class="center-div">
        <h2>Step 1</h2>
         <button id="btnGoToLogin" class="btn btn-default"> Login </></button>
    </div>


    <hr>

    <div id="screen" class=" center-div  "> Empty  </div>



    <label id="toast-index" class="center-div">  </label>




    <div id="display" class="center-div">  </div>







</div>
