

<div class="jumbotron">


    <link href="~/Content/custom-menus.css" rel="stylesheet" />
    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/GetData.js"></script>




</div>
<div class="stack">


    @{
        Layout = null;
        ViewBag.Title = "Index";
    }





    <hr>

    <div id="screen" >  @Html.Partial("~/Views/Home/Login.cshtml") </div>

   

    <label id="toast-index">  </label>












</div>
