@{
    Layout = null;
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <title>Login</title>
    <link href="~/Content/custom-menus.css" rel="stylesheet" />
    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/GetData.js"></script>

</head>

<body>
    <div class="element-positioner">
        <div class="menu-container">
            <h> User Login</h>
            <div class="login-container">
                <div class=" ">

                    <text> Username </text>
                    <input id="l-mail" class=" " />

                </div>
                <div class="col  log-item">

                    <text> Password </text>
                    <input id="l-password" class=" " />
                </div>

                <button id="btn-login" class="  "> Login </button>



            </div>


        </div>

    </div>


</body>

</html>
