
@{
    Layout = null;
    ViewBag.Title = "Menu";
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <title>Menu</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/GetData.js"></script>
</head>
<body>

    <div class="container py-4">
        <h5 class="text-center">HOW TO RETRIEVE DATA FROM DATABASE IN THE ASP.NET Web API USING JQUERY</h5>
        <div class="card">
            <div class="card-header bg-primary text-uppercase text-white">
                <h5 class="card-title">Employee List</h5>
            </div>
            <div class="card-body">
                <button id="btnGetData" type="button" class="btn btn-outline-primary rounded-0">Load Devices List</button>
            </div>
            <div id="updatePanel" style="padding:20px;">
            </div>
        </div>
    </div>




</body>
</html>